<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MOW - <%= room.name %></title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/room.css">
</head>
<body>
	<!-- Navigate bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="navbar-brand panel-title">MOW - <%= room.name %></h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav"></ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><button type="button" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Left this room</button></li>-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><!-- Room Setting --><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#room_info"><span class="glyphicon glyphicon-info-sign"></span> Room Information</a></li>
							<li class="divider speaker-ctrl"></li>
							<li class="speaker-ctrl"><a href="#"><span class="glyphicon glyphicon-facetime-video"></span> Display Webcam video</a></li>
							<li class="speaker-ctrl"><a href="#" data-toggle="modal" data-target="#room_setPDF"><span class="glyphicon glyphicon-file"></span> Display PDF Slide</a></li>
							<li class="speaker-ctrl"><a href="#" data-toggle="modal" data-target="#room_setDrawingCanvas"><span class="glyphicon glyphicon-pencil"></span> Display Canvas</a></li>
							<li class="speaker-ctrl"><a href="#" data-toggle="modal" data-target="#room_setYoutubePlayer"><span class="fa fa-youtube-play"></span> Display YouTube video</a></li>
							<li class="divider admin-ctrl"></li>
							<li class="admin-ctrl"><a href="#"><span class="glyphicon glyphicon-tower"></span> Change Administrator</a></li>
							<li class="admin-ctrl"><a href="#"><span class="glyphicon glyphicon-bullhorn"></span> Change Speaker</a></li>
							<li class="admin-ctrl"><a href="#"><span class="glyphicon glyphicon-ban-circle"></span> Kick Somebody</a></li>
						</ul>
					</li>
					<li><a href="#"><span class="glyphicon glyphicon-off"></span> Left this room</a></li>
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= displayName %><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/user/<%= userID %>" target="_blank"><span class="glyphicon glyphicon-list"></span> Profile</a></li>
							<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>

	<!-- Room container -->
	<div class="container"  id="room_container">
		<!-- Main container -->
		<div class="thumbnail col-md-8 col-xs-12" id="room_main">
			<!-- Webcam Video -->
			<div id="room_speakerWebcamDisplayArea">Webcam Displayer
			</div>
			<!-- Drawing Canvas -->
			<div class="hidden" id="room_drawingCanvasDisplayArea">
				<div>
					<div class="btn-toolbar form-inline"  style="margin-bottom: 5px;" id="room_drawingCanvasNavBar">
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="room_drawingCanvasUndo"><span class="fa fa-undo"></span></button>
							<button type="button" class="btn btn-default" id="room_drawingCanvasRedo"><span class="fa fa-repeat"></span></button>
						</div>
						<div class="btn-group"  data-toggle="buttons">
							<label class="btn btn-default">
								<input type="radio" name="room_drawingStyle" id="room_drawingPencil"><span class="fa fa-pencil"></span>
							</label>
							<label class="btn btn-default">
								<input type="radio" name="room_drawingStyle" id="room_drawingRectangle"><span class="fa fa-square"></span>
							</label>
							<label class="btn btn-default">
								<input type="radio" name="room_drawingStyle" id="room_drawingRectangleO"><span class="fa fa-square-o"></span>
							</label>
							<label class="btn btn-default">
								<input type="radio" name="room_drawingStyle" id="room_drawingCircle"><span class="fa fa-circle"></span>
							</label>
							<label class="btn btn-default">
								<input type="radio" name="room_drawingStyle" id="room_drawingCircleO"><span class="fa fa-circle-o"></span>
							</label>
							<label class="btn btn-default">
								<input type="radio" name="room_drawingStyle" id="room_drawingLine">／
							</label>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="room_drawingCanvasClean"><span class="fa fa-trash-o"></span></button>
						</div>
					</div>
				</div>
				<canvas style="border: 1px solid gray;" id="room_drawingCanvas"></canvas>
				<div>Drawing Canvas Displayer</div>
			</div>
			<!-- PDF Slide -->
			<div class="hidden" id="room_pdfDisplayArea">
				<div>
					<div class="btn-toolbar form-inline"  style="margin-bottom: 5px;" id="room_pdfNavBar">
						<div class="btn-group">
							<a href="" download="" class="btn btn-default" id="room_PDFDataURL" title="Download PDF file"><span class="glyphicon glyphicon-download-alt"></span></a>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default" id="room_loadPdfFirstPage"><span class="glyphicon glyphicon-step-backward"></span></button>
							<button type="button" class="btn btn-default" id="room_loadPdfPrevPage"><span class="glyphicon glyphicon-backward"></span></button>
							<button type="button" class="btn btn-default" id="room_loadPdfNextPage"><span class="glyphicon glyphicon-forward"></span></button>
							<button type="button" class="btn btn-default" id="room_loadPdfLastPage"><span class="glyphicon glyphicon-step-forward"></span></button>
						</div>
						<div class="input-group col-xs-3">
							<input type="text" class="form-control" id="room_loadPdfNowPage" style="text-align: right;">
							<span class="input-group-addon">/ <span id="room_loadPdfTotlePages">12</span></span>
							<span class="input-group-btn"><button class="btn btn-default" type="button" id="room_getPdfNstPage"><span class="glyphicon glyphicon-play"></span></button></span>
						</div>
					</div>
				</div>
				<canvas style="border: 1px solid gray;" id="room_pdfCanvas"></canvas>
			</div>
			<!-- YouTube -->
			<div class="hidden" id="room_youtubeDisplayArea">
				<div class="input-group input-group-sm" style="margin-bottom: 4px;">
					<span class="input-group-addon">YouTube Video URL: </span>
					<input type="text" class="form-control" id="room_displayYoutubeURL" value="http://youtu.be/">
				</div>
				<div id="room_youtubePlayer">YouTube Player</div>
				<div></div>
			</div>
		</div>

		<!-- Sidebar -->
		<div class="thumbnail col-md-4 col-xs-12" id="room_sidebar">
			<div class="panel panel-default" id="room_selfVideoPanel">
				<div class="panel-heading"><h2 class="panel-title">Your Webcam Video</h2></div>
				<div class="panel-body" id="room_selfVideo"></div>
			</div>
			<div class="panel panel-default" id="room_textMsgPanel">
				<div class="panel-heading"><h2 class="panel-title">Text Messages</h2></div>
				<div class="panel-body" id="room_textMsgDisplayArea"><ul style="padding: 0px;">
					<!-- fake chat data -->
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg room_selfTextMsg"><span class="room_userName">Admin</span>: asdfghjkl</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg room_selfTextMsg"><span class="room_userName">Admin</span>: asdfghjkl</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<li class="thumbnail room_textMsg room_selfTextMsg"><span class="room_userName">Admin</span>: asdfghjkl</li>
					<li class="thumbnail room_textMsg"><span class="room_userName">User 1</span>: test123</li>
					<!-- fake chat data end -->
				</ul></div>
				<div class="panel-footer input-group">
					<input type="text" class="form-control" id="room_inputTextMsg" placeholder="Enter youy message">
					<span class="input-group-btn"><button class="btn btn-default" id="room_sendTextMsg"><span class="glyphicon glyphicon-send"></span> Send</button></span>
				</div>
			</div>
		</div>

		<!-- Other mamber's Webcam video -->
		<div class="thumbnail col-md-12" id="room_members">
		</div>
	</div>

	<!-- Modal #room_info-->
	<div class="modal fade" id="room_info" tabindex="-1" role="dialog" aria-labelledby="roomInfoLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="roomInfoLabel">
						<span class="glyphicon glyphicon-info-sign"></span> Room Information
					</h2>
				</div>
				<div class="modal-body">
					<h3>Room Name</h3>
					<p><%= room.name %></p>
					<h3>Description</h3>
					<p><%= room.description %></p>
					<h3>Administrator</h3>
					<p><%= room.admin %></p>
					<h3>Speaker</h3>
					<p><%= room.speaker %></p>
					<h3>Members</h3>
					<ul>
					<% for (i in room.members) { %>
						<li><a href="/user/<%= room.members[i].name %>"><%= room.members[i].displayName %></a></li>
					<% } %>
					</ul>
					<h3>Link</h3>
					<p><script>document.write(location.toString())</script></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal #room_setPDF-->
	<div class="modal fade" id="room_setPDF" tabindex="-1" role="dialog" aria-labelledby="setPDFLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="setPDFLabel">
						<span class="glyphicon glyphicon-file"></span> Display PDF Slide
					</h2>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="room_inputPDF">YouTube URL:</label>
						<input type="file" class="form-control" id="room_inputPDF" accept="application/pdf">
						<span class="help-block">Please select a regular PDF file.</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="room_loadPDF">Load PDF Slide</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal #room_setDrawingCanvas-->
	<div class="modal fade" id="room_setDrawingCanvas" tabindex="-1" role="dialog" aria-labelledby="setDrawingCanvasLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="setDrawingCanvasLabel">
						<span class="glyphicon glyphicon-pencil"></span> Display Canvas
					</h2>
				</div>
				<div class="modal-body">
					<div class="checkbox">
						<label><input type="checkbox" id="room_cleanCanvas"> Clean canvas before loading.</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="room_loadDrawingCanvas">Load Canvas</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- Modal #room_setYoutubePlayer-->
	<div class="modal fade" id="room_setYoutubePlayer" tabindex="-1" role="dialog" aria-labelledby="setYoutubePlayerLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h2 class="modal-title" id="setYoutubePlayerLabel">
						<span class="fa fa-youtube-play"></span> Display YouTube video
					</h2>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="room_inputYoutubeURL">YouTube URL:</label>
						<input type="url" class="form-control" id="room_inputYoutubeURL" placeholder="Enter YouTube URL">
						<span class="help-block">Please enter a regular YouTube video URL.</span>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" id="room_playOnReady"> Start playing when the video is ready.</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="room_loadYoutubeVideo">Load YouTube Video</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!--<footer>none</footer>-->
	<!-- Load jQuery -->
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<!-- Load Bootstrap -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<!-- Load PDF.js -->
	<script src="/javascripts/pdf.js"></script>
	<script src="/javascripts/compatibility.js"></script>
	<!-- Load YouTube iFrame API  -->
	<script src="https://www.youtube.com/iframe_api"></script>
	<!-- Load SimpleWebRTC API  -->
	<script src="http://simplewebrtc.com/latest.js"></script>
	<!-- Load socket.io client  -->
	<script src="/socket.io/socket.io.js"></script>
	<script>
	var myself = {id: '<%= userID %>', displayName: '<%= displayName %>'};
	var room = {
		id: '<%= room.id %>',
		admin: '<%= room.admin %>',
		speaker: '<%= room.speaker %>',
		pdf: '<%= room.pdf %>',
		youtubeVideoID: '<%= room.youtubeVideoID %>',
		drawCanvas: '<%= room.drawCanvas %>'
	};
	var socket = io.connect('ws://' + location.host);
	socket.on('news', function (data) {
		console.log(data);
	});
	</script>
	<script src="/javascripts/room.js"></script>
</body>
</html>