<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MOW - Search Result: <%= keywords %></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/stylesheets/base.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="navbar-brand panel-title"><a href="/">MOW: Meeting On Web</a></h1>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>  <%= displayName %><b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/user/<%= userID %>"><span class="glyphicon glyphicon-list"></span> Profile</a></li>
							<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
						</ul>
					</li>
				</ul>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>
	<div class="container">
		<form class="input-group" action="/search" method="get" role="form">
			<input type="text" class="form-control" name="room" value="<%= keywords %>" required>
			<span class="input-group-btn">
				<button class="btn btn-primary" type="summit"><span class="glyphicon glyphicon-search"></span> Search!</button>
			</span>
		</form>
		<h2>Result</h2>
		<div class="list-group">
		<% for (i in rooms) { %>
			<a href="/room/<%= rooms[i].id %>" class="list-group-item">
				<h3 class="list-group-item-heading">
					<%= rooms[i].name %>
					<% if (rooms[i].isPrivate) { %><span class="glyphicon glyphicon-lock"></span><% } %>
				</h3>
				<p class="list-groupitem-text"><%= rooms[i].description %></p>
			</a>
		<% } %>
		</div>
	</div>
	<!--<footer>none</footer>-->
	<script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script>
	</script>
</body>
</html>